body{
  font-family: Montserrat, sans-serif;
}

/* Carousel style*/

.carousel-img {
    height: 500px;
    width: 100%;
  }
  
  .carousel-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .carousel-img .d-block {
    width: 100%;
  }

  /* First page images*/
.col-img{
  height: 350px;
  overflow: hidden;
}
.col-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.text-block{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.35);
  text-align: center;
}

/*On small screen add top-margin*/

@media only screen and (max-width: 768px){
  .col-img{
    margin-top: 5px;
  }
}

/* Main image style*/
.main_img{
  height: 500px; 
  width: 100% ;
}
.main_img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* Kuvateksti*/
.top-center{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-family: Trirong, serif;
  font-size: 40px;
}

/* Polaroid picture*/
  .polaroid {
    position: relative;
    display: inline-block;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: rotate(3deg);
    text-align: center;
    overflow: hidden;
    }

  .polaroid img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .polaroid-text {
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
  }
  /* Rotared on other side*/
  .rotated{
    transform:rotate(-3deg);
    z-index: 1;
  }

  /* Links*/
  a{
    color:beige;
  }
  a:hover{
    color:grey;
  } 


 .text-container{
  display: inline-block;
  padding: 10px 50px 10px 10px;
 }


ul{
  line-height: 2.0;
}


/* Jumbotron*/
.jumbotron h1{
  text-align: center;
}

.info{
  padding-left: 50px;
  text-align: center;
}

#description{
  width: auto;
  
}



.form{
  width: auto;
}
 

/* Text on carousel*/
.carousel-caption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  color: #fff;
  text-align: left;
  font-family: Trirong, serif;
  font-size: 30px;
}




