.carousel-img {
    height: 500px;
    width: 100%;
  }
  
  .carousel-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .carousel-img .d-block {
    width: 100%;
  }
.col-img{
  height: 350px;
  overflow: hidden;
}
.col-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.text-block{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.35);
  text-align: center;
}

.main_img{
  height: 500px; 
  width: 100% ;
}
.main_img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.top-center{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
}

  .polaroid {
    position: relative;
    display: inline-block;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: rotate(3deg);
    text-align: center;
    }

  .polaroid img {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .polaroid-text {
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
  }

  .rotated{
    transform:rotate(-3deg);
  }

  a{
    color:beige;
  }
  a:hover{
    color:grey;
  }

.big-container{
  display:flex;
}
  .polaroid-container{
    display: inline-block;
  }

 .text-container{
  display: inline-block;
  padding: 10px 50px 10px 10px;
 }
ul{
  line-height: 2.0;
}
.jumbotron h1{
  text-align: center;
}

.info {
  display: flex;
  justify-content: space-between;
}

#adress{
  margin-left: 100px;
  width: 200px;
  padding-right: 0px;
  text-align: center;
}
#contacts{
  width: 200px;
  text-align: center;
  margin-right: 100px;
}

.contactMe{
  display: flex;
  justify-content: space-around;
}

#pic{
  padding-left: 40px;
  text-align: center;
}

#description{
  width: 400px;
  
}
