.carousel-img {
    height: 500px;
    width: 100%;
  }
  
  .carousel-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .carousel-img .d-block {
    width: 100%;
  }

  .col-md-4 {
    
  }